@import './scss/variable-mixin.scss';

.hh-mm-yyyy { 
    select {
        height: 29px;
    }

    #start{
        height: 29px;
        vertical-align: bottom;
        line-height: 0;
        margin-left: 10px;
    }
}