.mm-dd-yyyy{
    #start{
        height: 29px;
        vertical-align: bottom;
        line-height: 0;
        margin-left: 10px;
    }

    .react-date-picker__calendar--above-label {
        bottom: 0;
        top: 100%;

        @media (max-width:480px){
            .react-calendar {
                width: 250px;
            }
        }
    }
}